<%= form_with(model: cbook, local: true) do |form| %>
  <% if cbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cbook.errors.count, "error") %> prohibited this cbook from being saved:</h2>

      <ul>
      <% cbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :cbook_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :cbook_description %>
  </div>

  <div class="field">
    <%= form.label :sdescription %>
    <%= form.text_field :sdescription, id: :cbook_sdescription %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :cbook_image %>
  </div>

  <div class="field">
    <%= form.label :previewo %>
    <%= form.file_field :previewo, id: :cbook_previewo %>
  </div>

  <div class="field">
    <%= form.label :previewt %>
    <%= form.file_field :previewt, id: :cbook_previewt %>
  </div>

  <div class="field">
    <%= form.label :previewth %>
    <%= form.file_field :previewth, id: :cbook_previewth %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :cbook_price %>
  </div>

  <div class="field">
    <%= form.label :offerprice %>
    <%= form.text_field :offerprice, id: :cbook_offerprice %>
  </div>

    <div class="field">
    <%= form.label :saving %>
    <%= form.text_field :saving %>
  </div>

  <div class="field">
    <%= form.label :off %>
    <%= form.text_field :off %>
  </div>

  <div class="field">
    <%= form.label :coupon %>
    <%= form.text_field :coupon, id: :cbook_coupon %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :cbook_author %>
  </div>

  <div class="field">
    <%= form.label :publication %>
    <%= form.text_field :publication, id: :cbook_publication %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
