<%= form_with(model: gbook, local: true) do |form| %>
  <% if gbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gbook.errors.count, "error") %> prohibited this gbook from being saved:</h2>

      <ul>
      <% gbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :gbook_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :gbook_description %>
  </div>

  <div class="field">
    <%= form.label :sdescription %>
    <%= form.text_field :sdescription, id: :gbook_sdescription %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :gbook_image %>
  </div>

  <div class="field">
    <%= form.label :previewo %>
    <%= form.file_field :previewo, id: :gbook_previewo %>
  </div>

  <div class="field">
    <%= form.label :previewt %>
    <%= form.file_field :previewt, id: :gbook_previewt %>
  </div>

  <div class="field">
    <%= form.label :previewth %>
    <%= form.file_field :previewth, id: :gbook_previewth %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :gbook_price %>
  </div>

  <div class="field">
    <%= form.label :offerprice %>
    <%= form.text_field :offerprice, id: :gbook_offerprice %>
  </div>

    <div class="field">
    <%= form.label :saving %>
    <%= form.text_field :saving %>
  </div>

  <div class="field">
    <%= form.label :off %>
    <%= form.text_field :off %>
  </div>

  <div class="field">
    <%= form.label :coupon %>
    <%= form.text_field :coupon, id: :gbook_coupon %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :gbook_author %>
  </div>

  <div class="field">
    <%= form.label :publication %>
    <%= form.text_field :publication, id: :gbook_publication %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
